# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Large datasets (optional, if you store them elsewhere)
data/*.csv
data/*.json